<section class="tabs">
  <section class="tabs-btns">
    <button class="tabs-btn tabs-active" data-actab-group="0" data-actab-id="0">
      Tab 1
    </button>
    <button class="tabs-btn" data-actab-group="0" data-actab-id="1">
      Tab 2
    </button>
    <button class="tabs-btn" data-actab-group="0" data-actab-id="2">
      Tab 3
    </button>
    <button class="tabs-btn" data-actab-group="0" data-actab-id="3">
      Tab 4
    </button>
    <button class="tabs-btn" data-actab-group="0" data-actab-id="4">
      Tab 5
    </button>
  </section>
  <section class="tabs-content">
    <article
      class="tabs-item tabs-active"
      data-actab-group="0"
      data-actab-id="0"
    >
      <h4 class="tabs-item__label">Tab 1</h4>
      <div class="tabs-item__container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates,
          deserunt minima? Ut facere minus, ipsa dolore animi quis alias eos,
          porro corporis quod esse quidem. Maxime a aperiam perspiciatis
          architecto?
        </p>
      </div>
    </article>
    <article class="tabs-item" data-actab-group="0" data-actab-id="1">
      <h4 class="tabs-item__label">Tab 2</h4>
      <div class="tabs-item__container">
        <p>
          reprehenderit temporibus, assumenda cupiditate consequatur soluta odit
          ex repudiandae delectus cumque, provident hic sed quod? Quis, nam.
          Similique eaque quae vel recusandae expedita qui sint fugiat, nisi
          assumenda et ex molestiae atque deleniti magni, ipsam libero!
        </p>
      </div>
    </article>
    <article class="tabs-item" data-actab-group="0" data-actab-id="2">
      <h4 class="tabs-item__label">Tab 3</h4>
      <div class="tabs-item__container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates,
          deserunt minima? Ut facere minus, ipsa dolore animi quis alias eos,
          porro corporis quod esse quidem. Maxime a aperiam perspiciatis
          architecto?
        </p>
      </div>
    </article>
    <article class="tabs-item" data-actab-group="0" data-actab-id="3">
      <h4 class="tabs-item__label">Tab 4</h4>
      <div class="tabs-item__container">
        <p>
          psum dolor sit amet, consectetur adipisicing elit. Voluptates,
          deserunt minima? Ut facere minus, ipsa dolore
        </p>
      </div>
    </article>
    <article class="tabs-item" data-actab-group="0" data-actab-id="4">
      <h4 class="tabs-item__label">Tab 5</h4>
      <div class="tabs-item__container">
        <p>
          aborum similique facere quae. Quo cupiditate ad iste qui aliquam
          quibusdam quod, ut doloremque ipsa quas soluta, sapiente possimus,
          tempora rerum ab nesciunt vitae molestiae dolor earum illum
          repudiandae! Voluptas sed, soluta facere nisi perferendis cupiditate!
          Dicta et praesentium non ab, quod commodi, illo saepe accusantium
          tempora autem eos nemo. Animi, pariatur placeat laudantium dolorib!
        </p>
      </div>
    </article>
  </section>
</section>
