.tabs {
  background: #f9f9f9;
  box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  //max-width: 900px;
  margin: 0;

  &-btns {
    display: none;

    :focus {
      outline: none;
    }
  }

  &-item {
    //border-bottom: 1px solid #eaeaea;
    &:last-child {
      border: none;
    }

    &__label {
      margin: 0;
      padding: 20px;
      cursor: pointer;
      transition: padding 0.2s ease;
      position: relative;

      &:after {
        content: "";
        height: 4px;
        width: 4px;
        position: absolute;
        top: -4px;
        right: 1.25rem;
        bottom: 0;
        margin: auto;
        border: 3px solid transparent;
        border-radius: 2px;
        transform: rotate(45deg);
        border-color: transparent #447fff #447fff transparent;
        opacity: 1;
        transition: opacity 0.1s ease;
      }

      &:hover {
        background: lighten(#447fff, 28);
      }
    }

    &__container {
      padding: 0 1.25em;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
    }
  }

  &-active {
    background: rgba(#447fff, 0.1);

    .tabs-item {
      &__label {
        padding-bottom: 0;
        cursor: inherit;

        &:hover {
          background: none;
        }

        &:after {
          opacity: 0;
        }
      }

      &__container {
        padding: 1.25em;
        height: auto;
        opacity: 1;

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  + p {
    color: rgba(#fff, 0.8);
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
}

@media (min-width: 600px) {
  .tabs-btns {
    display: flex;
    background: rgba(#447fff, 0.1);

    .tabs-btn {
      background: rgba(#447fff, 0.1);
      padding: 15px;
      font-size: rem(20);
      flex: 1;
      border: none;
      cursor: pointer;
      transition: background 0.1s ease;

      &:hover {
        background: rgba(#f9f9f9, 0.01);
      }

      &:last-child {
        border-right: 0;
      }

      &.tabs-active {
        background: #f9f9f9;
      }
    }
  }

  .tabs-item {
    padding: 2.4rem;
    display: none;
    border: none;
    background: #f9f9f9;
    min-height: 260px;

    &__label,
    &__container {
      padding: 0;
      transition: inherit;
    }

    &__label {
      margin-bottom: 1.5rem;
    }

    &.tabs-active {
      display: block;

      .tabs-item__container {
        padding: 0;
      }
    }
  }
}
