// Functions ===================================================================================================================

//%
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

//REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

//EM
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}

// Default Font ===================================================================================================================
$fontFamily: "Montserrat";
$fontSize: 16px;

// Widths ===================================================================================================================
$maxContWidth: 1603 + 30;

// Global styles ===================================================================================================================

.container {
  max-width: $maxContWidth + px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: #24173D;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}
